@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: top -600px left -400px, bottom -600px right -400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-image img {
    
}

.card-body {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    background-color: white;
}

.attribution {
    padding: 10px;
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}